@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans';

html {
font: normal normal 14px/1 "Josefin Sans";
/*, Helvetica, Arial, sans-serif;*/
}
/************************************/
/* NAVIGATION BAR AND HEADER SECTION */
/************************************/

.social-media-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.social-media-container li {
  list-style-type: none;
  display: inline;
  padding: 0;
}

.social-media-container ul {
  padding: 0;
  margin: 0;
}

.navigation-container {
  width: 100%;
  height: 70px;
  text-align:center;
}

.navigation-container li {
  list-style-type: none;
  padding: 0 10px 0 10px;
  display: inline-block;
}

.navigation-container ul {
  padding: 0;
  margin: 0;
}


/************************************/
/* LINKS */
/************************************/
.navigation-container li a {
  color: #000000;
  font-size: 1em;
  font-family: 'Amatic SC';
  text-decoration: none;
  text-align: center;
}

.social-media-container a {
  padding: 0 5px 0 5px;
}


/************************************/
/* MAIN BODY SECTION - INDEX.HTML */
/************************************/
body {
  margin-left: 5px;
  margin-right: 5px;
}





/************************************/
/* MAIN BODY SECTION - BLOG */
/************************************/





/*********************************************/
/* MAIN BODY SECTIONS - MAIN PORTFOLIO PAGE */
/********************************************/









/*****************************************/
/* MAIN BODY SECTIONS - PORTFOLIO PAGES */
/****************************************/






/************************************/
/* ASIDES BLOG*/
/************************************/






/************************************/
/* FOOTER */
/************************************/

footer section {
  float: right;
  margin: 0;
}

footer section a {
  padding: 0 5px 1px 5px;
}

footer p {
  display: inline;
}
